In [1]:
import sqlite3

try:
    conn = sqlite3.connect('data.db')
    cursor = conn.cursor()

    # Execute a SELECT query
    cursor.execute('SELECT * FROM items')

    # Fetch all rows
    rows = cursor.fetchall()

    # Print the retrieved data
    for row in rows:
        print(f"ID: {row[0]}, Name: {row[1]}, Price: {row[2]}, Location: {row[3]}")

    # Close the connection
    conn.close()

except Exception as e:
    print(f"Error: {str(e)}")

ID: 1, Name: Pizza Kebap Haus, Price: 8.0, Location: {"latitude":49.1448876875684,"longitude":9.220654070377352}
ID: 2, Name: Divan 2, Price: 7.5, Location: {"latitude":49.14463853901513,"longitude":9.220721125602724}
ID: 3, Name: DÃ¶ner Eck, Price: 7.0, Location: {"latitude":49.14468591242803,"longitude":9.22106981277466}
ID: 4, Name: MEZOPOTAMYA, Price: 5.5, Location: {"latitude":49.14551055347107,"longitude":9.220029115676882}
ID: 5, Name: Star Kebap, Price: 6.0, Location: {"latitude":49.143134848264644,"longitude":9.22031342983246}
ID: 6, Name: Merkez, Price: 6.5, Location: {"latitude":49.14192414227402,"longitude":9.218368828296663}
ID: 7, Name: Stern Kebap, Price: 8.0, Location: {"latitude":49.14055372777727,"longitude":9.22032952308655}
ID: 8, Name: Otantik, Price: 7.0, Location: {"latitude":49.13836203863693,"longitude":9.220359027385713}
ID: 9, Name: Alaturka, Price: 10.0, Location: {"latitude":49.14159601830976,"longitude":9.217143058776857}
ID: 10, Name: Aleppo, Price: 7.0, Location: {"latitude":49.14241193752085,"longitude":9.216869473457338}
ID: 11, Name: Pizza und Kebaphaus, Price: 7.0, Location: {"latitude":49.14196625428325,"longitude":9.208409786224367}
ID: 12, Name: Metropol, Price: 8.0, Location: {"latitude":49.142220680244485,"longitude":9.208731651306154}